.mediaViewInfo {
	--web-view-name: Signup-design;
	--web-view-id: Signup-design;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;

}
:root {
	--web-view-ids: Signup-design;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Signup-design {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Signup-design;
	--web-view-id: Signup-design;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Layer_2 {
	position: absolute;
	width: 893.946px;
	height: 1236.187px;
	left: 1026.054px;
	top: -89.269px;
	overflow: visible;
}
#Rectangle_648 {
	fill: rgba(223,255,225,1);
}
.Rectangle_648 {
	position: absolute;
	overflow: visible;
	width: 532px;
	height: 1080px;
	left: 361.946px;
	top: 89.269px;
}
#Rectangle_649 {
	fill: rgba(223,255,225,1);
}
.Rectangle_649 {
	width: 403.007px;
	height: 1171.81px;
	position: absolute;
	overflow: visible;
	transform: translate(-1026.054px, 89.269px) matrix(1,0,0,1,1170.8313,-57.0803) rotate(15deg);
	transform-origin: center;
}
#Sign_Up {
	left: 299.022px;
	top: 260.426px;
	position: absolute;
	overflow: visible;
	width: 265.153px;
	height: 124.24203491210938px;
	line-height: 72px;
	margin-top: -6px;
	text-align: left;
	font-family: Poppins-Bold;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(102,102,102,1);
}
#E-mail {
	left: 298.873px;
	top: 368.897px;
	position: absolute;
	overflow: visible;
	width: 265.153px;
	height: 68.49217224121094px;
	line-height: 45.60000228881836px;
	margin-top: -3.8000011444091797px;
	text-align: left;
	font-family: Poppins-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(102,102,102,1);
}
#Line_90 {
	fill: transparent;
}
.Line_90 {
	overflow: visible;
	position: absolute;
	width: 519.001px;
	height: 0px;
	left: 298.945px;
	top: 448.769px;
	transform: matrix(1,0,0,1,0,0);
}
#Username {
	left: 294.873px;
	top: 512.897px;
	position: absolute;
	overflow: visible;
	width: 265.153px;
	height: 68.49217224121094px;
	line-height: 45.60000228881836px;
	margin-top: -3.8000011444091797px;
	text-align: left;
	font-family: Poppins-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(102,102,102,1);
}
#Line_91 {
	fill: transparent;
}
.Line_91 {
	overflow: visible;
	position: absolute;
	width: 519.001px;
	height: 0px;
	left: 294.945px;
	top: 592.769px;
	transform: matrix(1,0,0,1,0,0);
}
#Password {
	left: 294.873px;
	top: 656.896px;
	position: absolute;
	overflow: visible;
	width: 265.153px;
	height: 68.49217224121094px;
	line-height: 45.60000228881836px;
	margin-top: -3.8000011444091797px;
	text-align: left;
	font-family: Poppins-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 38px;
	color: rgba(102,102,102,1);
}
#Line_92 {
	fill: transparent;
}
.Line_92 {
	overflow: visible;
	position: absolute;
	width: 518.999px;
	height: 1px;
	left: 294.946px;
	top: 736.269px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_650 {
	fill: rgba(102,102,102,1);
}
.Rectangle_650 {
	position: absolute;
	overflow: visible;
	width: 269px;
	height: 58px;
	left: 412.946px;
	top: 824.269px;
}
#Sign_Up_ {
	left: 476.502px;
	top: 827.922px;
	position: absolute;
	overflow: visible;
	width: 142.888px;
	height: 65.49217224121094px;
	line-height: 42px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Poppins-Medium;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Layer_1 {
	position: absolute;
	width: 1251px;
	height: 1237px;
	left: -39px;
	top: -71px;
	overflow: visible;
}
#Group_1681 {
	position: absolute;
	width: 1251px;
	height: 1237px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1689 {
	fill: rgba(192,255,237,1);
}
.Path_1689 {
	overflow: visible;
	position: absolute;
	width: 977.039px;
	height: 1138.754px;
	left: 24.061px;
	top: 42.755px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1690 {
	fill: rgba(155,250,226,1);
}
.Path_1690 {
	overflow: visible;
	position: absolute;
	width: 947.133px;
	height: 1160.263px;
	left: 24.061px;
	top: 42.755px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1655 {
	position: absolute;
	width: 455.682px;
	height: 343.662px;
	left: 465.865px;
	top: 644.466px;
	overflow: visible;
}
#Group_1652 {
	position: absolute;
	width: 83.804px;
	height: 160.703px;
	left: 250.325px;
	top: 0px;
	overflow: visible;
}
#Path_1691_bb {
	fill: url(#Path_1691_bb);
}
.Path_1691_bb {
	overflow: visible;
	position: absolute;
	width: 83.804px;
	height: 160.703px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1692 {
	fill: rgba(255,240,179,1);
}
.Path_1692 {
	overflow: visible;
	position: absolute;
	width: 83.151px;
	height: 160.152px;
	left: 0.65px;
	top: 0.515px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1653 {
	position: absolute;
	width: 106.637px;
	height: 81.794px;
	left: 287.676px;
	top: 88.697px;
	overflow: visible;
}
#Path_1693_bf {
	fill: url(#Path_1693_bf);
}
.Path_1693_bf {
	overflow: visible;
	position: absolute;
	width: 106.637px;
	height: 81.794px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1694 {
	fill: rgba(255,240,179,1);
}
.Path_1694 {
	overflow: visible;
	position: absolute;
	width: 106.255px;
	height: 81.255px;
	left: 0.06px;
	top: 0.338px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1654 {
	position: absolute;
	width: 147.697px;
	height: 241.751px;
	left: 0px;
	top: 101.911px;
	overflow: visible;
}
#Path_1695_bj {
	fill: url(#Path_1695_bj);
}
.Path_1695_bj {
	overflow: visible;
	position: absolute;
	width: 51.32px;
	height: 170.418px;
	left: 21.356px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1696 {
	fill: rgba(255,240,179,1);
}
.Path_1696 {
	overflow: visible;
	position: absolute;
	width: 36.19px;
	height: 177.59px;
	left: 35.824px;
	top: 20.876px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1697_bm {
	fill: url(#Path_1697_bm);
}
.Path_1697_bm {
	overflow: visible;
	position: absolute;
	width: 72.317px;
	height: 155.682px;
	left: 0px;
	top: 42.114px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1698 {
	fill: rgba(255,240,179,1);
}
.Path_1698 {
	overflow: visible;
	position: absolute;
	width: 66.456px;
	height: 142.894px;
	left: 9.183px;
	top: 61.64px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1699_bp {
	fill: url(#Path_1699_bp);
}
.Path_1699_bp {
	overflow: visible;
	position: absolute;
	width: 51.074px;
	height: 212.334px;
	left: 60.747px;
	top: 9.88px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1700 {
	fill: rgba(255,240,179,1);
}
.Path_1700 {
	overflow: visible;
	position: absolute;
	width: 42.304px;
	height: 207.984px;
	left: 59.657px;
	top: 33.768px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1701_bs {
	fill: url(#Path_1701_bs);
}
.Path_1701_bs {
	overflow: visible;
	position: absolute;
	width: 75.573px;
	height: 141.473px;
	left: 72.125px;
	top: 61.073px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1702 {
	fill: rgba(255,240,179,1);
}
.Path_1702 {
	overflow: visible;
	position: absolute;
	width: 74.462px;
	height: 126.28px;
	left: 61.728px;
	top: 86.587px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1703_bv {
	fill: url(#Path_1703_bv);
}
.Path_1703_bv {
	overflow: visible;
	position: absolute;
	width: 381.833px;
	height: 200.618px;
	left: 73.848px;
	top: 105.423px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1704_bx {
	fill: url(#Path_1704_bx);
}
.Path_1704_bx {
	overflow: visible;
	position: absolute;
	width: 320.01px;
	height: 140.649px;
	left: 52.424px;
	top: 171.855px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1705 {
	fill: rgba(109,74,74,1);
}
.Path_1705 {
	overflow: visible;
	position: absolute;
	width: 883.874px;
	height: 273.945px;
	left: 117.226px;
	top: 878.458px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1661 {
	position: absolute;
	width: 800.102px;
	height: 1042.235px;
	left: 42.546px;
	top: 0px;
	overflow: visible;
}
#Path_1706_b {
	fill: url(#Path_1706_b);
}
.Path_1706_b {
	overflow: visible;
	position: absolute;
	width: 587.965px;
	height: 535.024px;
	left: 55.674px;
	top: 30.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1707 {
	fill: rgba(209,211,212,1);
}
.Path_1707 {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 262.944px;
	height: 123.97px;
	left: 321.83px;
	top: 132.92px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1708 {
	fill: rgba(209,211,212,1);
}
.Path_1708 {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 244.697px;
	height: 259.13px;
	left: 50.476px;
	top: 185.561px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1709 {
	fill: rgba(209,211,212,1);
}
.Path_1709 {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 158.709px;
	height: 240.124px;
	left: 484.93px;
	top: 178.98px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1710_b {
	fill: url(#Path_1710_b);
}
.Path_1710_b {
	overflow: visible;
	position: absolute;
	width: 519.741px;
	height: 909.643px;
	left: 33.101px;
	top: 132.592px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1656 {
	mix-blend-mode: multiply;
	position: absolute;
	width: 296.598px;
	height: 218.505px;
	left: 150.175px;
	top: 265.157px;
	overflow: visible;
}
#Path_1711 {
	fill: rgba(188,190,192,1);
}
.Path_1711 {
	overflow: visible;
	position: absolute;
	width: 15.678px;
	height: 21.611px;
	left: 96.123px;
	top: 83.486px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1712 {
	fill: rgba(188,190,192,1);
}
.Path_1712 {
	overflow: visible;
	position: absolute;
	width: 12.051px;
	height: 18.039px;
	left: 153.429px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1713 {
	fill: rgba(188,190,192,1);
}
.Path_1713 {
	overflow: visible;
	position: absolute;
	width: 12.587px;
	height: 16.409px;
	left: 191.371px;
	top: 8.003px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1714 {
	fill: rgba(188,190,192,1);
}
.Path_1714 {
	overflow: visible;
	position: absolute;
	width: 11.313px;
	height: 17.256px;
	left: 284.587px;
	top: 12.987px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1715 {
	fill: rgba(188,190,192,1);
}
.Path_1715 {
	overflow: visible;
	position: absolute;
	width: 18.533px;
	height: 14.14px;
	left: 278.065px;
	top: 143.116px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1716 {
	fill: rgba(188,190,192,1);
}
.Path_1716 {
	overflow: visible;
	position: absolute;
	width: 11.41px;
	height: 22.294px;
	left: 215.909px;
	top: 148.071px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1717 {
	fill: rgba(188,190,192,1);
}
.Path_1717 {
	overflow: visible;
	position: absolute;
	width: 16.775px;
	height: 15.061px;
	left: 0px;
	top: 201.416px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1718 {
	fill: rgba(188,190,192,1);
}
.Path_1718 {
	overflow: visible;
	position: absolute;
	width: 13.14px;
	height: 23.624px;
	left: 53.696px;
	top: 194.881px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1657 {
	position: absolute;
	width: 203.186px;
	height: 347.444px;
	left: 349.656px;
	top: 132.592px;
	overflow: visible;
}
#Path_1719 {
	fill: rgba(140,49,54,1);
}
.Path_1719 {
	overflow: visible;
	position: absolute;
	width: 66.821px;
	height: 121.628px;
	left: 136.365px;
	top: 36.764px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1720 {
	fill: rgba(140,49,54,1);
}
.Path_1720 {
	overflow: visible;
	position: absolute;
	width: 49.828px;
	height: 39.198px;
	left: 108.085px;
	top: 308.246px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1721 {
	fill: rgba(140,49,54,1);
}
.Path_1721 {
	overflow: visible;
	position: absolute;
	width: 25.265px;
	height: 50.239px;
	left: 0px;
	top: 47.184px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1722 {
	fill: rgba(140,49,54,1);
}
.Path_1722 {
	overflow: visible;
	position: absolute;
	width: 72.941px;
	height: 45.057px;
	left: 99.807px;
	top: 201.898px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1723 {
	fill: rgba(140,49,54,1);
}
.Path_1723 {
	overflow: visible;
	position: absolute;
	width: 25.818px;
	height: 87.138px;
	left: 50.749px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1724 {
	fill: rgba(156,62,63,1);
}
.Path_1724 {
	overflow: visible;
	position: absolute;
	width: 60.862px;
	height: 109.229px;
	left: 111.112px;
	top: 255.034px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1725_co {
	fill: url(#Path_1725_co);
}
.Path_1725_co {
	overflow: visible;
	position: absolute;
	width: 211.876px;
	height: 220.932px;
	left: 518.778px;
	top: 178.104px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1726_cq {
	fill: url(#Path_1726_cq);
}
.Path_1726_cq {
	overflow: visible;
	position: absolute;
	width: 263.196px;
	height: 399.817px;
	left: 0px;
	top: 36.296px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1727_cs {
	fill: url(#Path_1727_cs);
}
.Path_1727_cs {
	overflow: visible;
	position: absolute;
	width: 646.145px;
	height: 251.251px;
	left: 153.958px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1728 {
	fill: rgba(147,149,152,1);
}
.Path_1728 {
	mix-blend-mode: soft-light;
	overflow: visible;
	position: absolute;
	width: 339.713px;
	height: 236.661px;
	left: 460.389px;
	top: 14.59px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1729 {
	fill: rgba(147,149,152,1);
}
.Path_1729 {
	mix-blend-mode: soft-light;
	overflow: visible;
	position: absolute;
	width: 182.628px;
	height: 179.557px;
	left: 49.029px;
	top: 256.556px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1730 {
	fill: rgba(147,149,152,1);
}
.Path_1730 {
	mix-blend-mode: soft-light;
	overflow: visible;
	position: absolute;
	width: 197.78px;
	height: 119.752px;
	left: 518.778px;
	top: 279.285px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1658 {
	mix-blend-mode: multiply;
	position: absolute;
	width: 399.951px;
	height: 149.281px;
	left: 238.345px;
	top: 28.716px;
	overflow: visible;
}
#Path_1731 {
	fill: rgba(209,211,212,1);
}
.Path_1731 {
	overflow: visible;
	position: absolute;
	width: 18.94px;
	height: 20.935px;
	left: 10.756px;
	top: 119.124px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1732 {
	fill: rgba(209,211,212,1);
}
.Path_1732 {
	overflow: visible;
	position: absolute;
	width: 13.498px;
	height: 15.631px;
	left: 0px;
	top: 47.998px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1733 {
	fill: rgba(209,211,212,1);
}
.Path_1733 {
	overflow: visible;
	position: absolute;
	width: 14.623px;
	height: 23.113px;
	left: 149.721px;
	top: 42.64px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1734 {
	fill: rgba(209,211,212,1);
}
.Path_1734 {
	overflow: visible;
	position: absolute;
	width: 13.186px;
	height: 19.413px;
	left: 219.263px;
	top: 4.332px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1735 {
	fill: rgba(209,211,212,1);
}
.Path_1735 {
	overflow: visible;
	position: absolute;
	width: 19.031px;
	height: 20.485px;
	left: 331.877px;
	top: 61.048px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1736 {
	fill: rgba(209,211,212,1);
}
.Path_1736 {
	overflow: visible;
	position: absolute;
	width: 11.308px;
	height: 26.858px;
	left: 388.643px;
	top: 4.554px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1737 {
	fill: rgba(209,211,212,1);
}
.Path_1737 {
	overflow: visible;
	position: absolute;
	width: 11.447px;
	height: 28.282px;
	left: 367.936px;
	top: 120.999px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1738 {
	fill: rgba(209,211,212,1);
}
.Path_1738 {
	overflow: visible;
	position: absolute;
	width: 15.652px;
	height: 13.709px;
	left: 207.876px;
	top: 83.367px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1739 {
	fill: rgba(209,211,212,1);
}
.Path_1739 {
	overflow: visible;
	position: absolute;
	width: 18.656px;
	height: 21.559px;
	left: 50.773px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1659 {
	mix-blend-mode: multiply;
	position: absolute;
	width: 103.049px;
	height: 255.094px;
	left: 56.341px;
	top: 120.01px;
	overflow: visible;
}
#Path_1740 {
	fill: rgba(209,211,212,1);
}
.Path_1740 {
	overflow: visible;
	position: absolute;
	width: 10.832px;
	height: 17.26px;
	left: 41.477px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1741 {
	fill: rgba(209,211,212,1);
}
.Path_1741 {
	overflow: visible;
	position: absolute;
	width: 13.399px;
	height: 20.051px;
	left: 89.65px;
	top: 30.282px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1742 {
	fill: rgba(209,211,212,1);
}
.Path_1742 {
	overflow: visible;
	position: absolute;
	width: 19.172px;
	height: 15.795px;
	left: 0px;
	top: 82.664px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1743 {
	fill: rgba(209,211,212,1);
}
.Path_1743 {
	overflow: visible;
	position: absolute;
	width: 11.45px;
	height: 24.436px;
	left: 64.937px;
	top: 89.124px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1744 {
	fill: rgba(209,211,212,1);
}
.Path_1744 {
	overflow: visible;
	position: absolute;
	width: 12.021px;
	height: 17.867px;
	left: 0.566px;
	top: 237.228px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1660 {
	mix-blend-mode: multiply;
	position: absolute;
	width: 117.218px;
	height: 100.623px;
	left: 564.159px;
	top: 226.378px;
	overflow: visible;
}
#Path_1745 {
	fill: rgba(209,211,212,1);
}
.Path_1745 {
	overflow: visible;
	position: absolute;
	width: 22.29px;
	height: 18.922px;
	left: 36.071px;
	top: 61.049px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1746 {
	fill: rgba(209,211,212,1);
}
.Path_1746 {
	overflow: visible;
	position: absolute;
	width: 10.831px;
	height: 19.416px;
	left: 104.106px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1747 {
	fill: rgba(209,211,212,1);
}
.Path_1747 {
	overflow: visible;
	position: absolute;
	width: 21.335px;
	height: 16.67px;
	left: 95.883px;
	top: 78.437px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1748 {
	fill: rgba(209,211,212,1);
}
.Path_1748 {
	overflow: visible;
	position: absolute;
	width: 16.858px;
	height: 12.936px;
	left: 0px;
	top: 87.687px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1662 {
	mix-blend-mode: multiply;
	position: absolute;
	width: 401.971px;
	height: 232.861px;
	left: 426.485px;
	top: 929.636px;
	overflow: visible;
}
#Path_1749 {
	fill: rgba(209,211,212,1);
}
.Path_1749 {
	overflow: visible;
	position: absolute;
	width: 17.461px;
	height: 15.093px;
	left: 0px;
	top: 117.863px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1750 {
	fill: rgba(209,211,212,1);
}
.Path_1750 {
	overflow: visible;
	position: absolute;
	width: 18.063px;
	height: 15.844px;
	left: 57.152px;
	top: 154.357px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1751 {
	fill: rgba(209,211,212,1);
}
.Path_1751 {
	overflow: visible;
	position: absolute;
	width: 18.67px;
	height: 18.202px;
	left: 122.124px;
	top: 91.794px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1752 {
	fill: rgba(209,211,212,1);
}
.Path_1752 {
	overflow: visible;
	position: absolute;
	width: 24.067px;
	height: 16.78px;
	left: 160.067px;
	top: 38.041px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1753 {
	fill: rgba(209,211,212,1);
}
.Path_1753 {
	overflow: visible;
	position: absolute;
	width: 20.954px;
	height: 21.553px;
	left: 100.549px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1754 {
	fill: rgba(209,211,212,1);
}
.Path_1754 {
	overflow: visible;
	position: absolute;
	width: 18.063px;
	height: 15.093px;
	left: 383.908px;
	top: 41.681px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1755 {
	fill: rgba(209,211,212,1);
}
.Path_1755 {
	overflow: visible;
	position: absolute;
	width: 18.1px;
	height: 16.413px;
	left: 206.377px;
	top: 168.231px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1756 {
	fill: rgba(209,211,212,1);
}
.Path_1756 {
	overflow: visible;
	position: absolute;
	width: 19.054px;
	height: 22.318px;
	left: 141.486px;
	top: 210.544px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1757 {
	fill: rgba(209,211,212,1);
}
.Path_1757 {
	overflow: visible;
	position: absolute;
	width: 22.878px;
	height: 15.093px;
	left: 8.424px;
	top: 3.589px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1758 {
	fill: rgba(209,211,212,1);
}
.Path_1758 {
	overflow: visible;
	position: absolute;
	width: 21.112px;
	height: 18.103px;
	left: 289.436px;
	top: 128.661px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1759 {
	fill: rgba(209,211,212,1);
}
.Path_1759 {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 457.5px;
	height: 113.564px;
	left: 351.549px;
	top: 896.777px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1760 {
	fill: rgba(209,211,212,1);
}
.Path_1760 {
	mix-blend-mode: multiply;
	overflow: visible;
	position: absolute;
	width: 346.263px;
	height: 70.224px;
	left: 431.084px;
	top: 908.877px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1664 {
	position: absolute;
	width: 370.403px;
	height: 359.658px;
	left: 410.186px;
	top: 613.373px;
	overflow: visible;
}
#Path_1761 {
	fill: rgba(156,62,63,1);
}
.Path_1761 {
	overflow: visible;
	position: absolute;
	width: 32.301px;
	height: 315.003px;
	left: 51.562px;
	top: 12.527px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1762 {
	fill: rgba(156,62,63,1);
}
.Path_1762 {
	overflow: visible;
	position: absolute;
	width: 26.493px;
	height: 327.53px;
	left: 290.904px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1763 {
	fill: rgba(192,117,94,1);
}
.Path_1763 {
	overflow: visible;
	position: absolute;
	width: 338.358px;
	height: 39.054px;
	left: 16.023px;
	top: 107.518px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1764 {
	fill: rgba(192,117,94,1);
}
.Path_1764 {
	overflow: visible;
	position: absolute;
	width: 370.403px;
	height: 43.894px;
	left: 0px;
	top: 175.069px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1765 {
	fill: rgba(168,71,71,1);
}
.Path_1765 {
	overflow: visible;
	position: absolute;
	width: 24.74px;
	height: 140.694px;
	left: 33.283px;
	top: 218.169px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1766 {
	fill: rgba(168,71,71,1);
}
.Path_1766 {
	overflow: visible;
	position: absolute;
	width: 24.744px;
	height: 140.808px;
	left: 319.107px;
	top: 218.849px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1767 {
	fill: rgba(177,89,69,1);
}
.Path_1767 {
	overflow: visible;
	position: absolute;
	width: 370.403px;
	height: 43.02px;
	left: 0px;
	top: 175.944px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1768 {
	fill: rgba(216,137,119,1);
}
.Path_1768 {
	overflow: visible;
	position: absolute;
	width: 332.268px;
	height: 9.288px;
	left: 16.023px;
	top: 105.289px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1663 {
	position: absolute;
	width: 331.008px;
	height: 57.52px;
	left: 14.821px;
	top: 28.452px;
	overflow: visible;
}
#Path_1769 {
	fill: rgba(192,117,94,1);
}
.Path_1769 {
	overflow: visible;
	position: absolute;
	width: 331.008px;
	height: 54.356px;
	left: 0px;
	top: 3.164px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1770 {
	fill: rgba(216,137,119,1);
}
.Path_1770 {
	overflow: visible;
	position: absolute;
	width: 331.008px;
	height: 21.4px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1771 {
	fill: rgba(147,81,66,1);
}
.Path_1771 {
	overflow: visible;
	position: absolute;
	width: 6.471px;
	height: 7.729px;
	left: 47.772px;
	top: 34.393px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1772 {
	fill: rgba(147,81,66,1);
}
.Path_1772 {
	overflow: visible;
	position: absolute;
	width: 6.471px;
	height: 7.729px;
	left: 286.094px;
	top: 22.614px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1773 {
	fill: rgba(147,81,66,1);
}
.Path_1773 {
	overflow: visible;
	position: absolute;
	width: 6.471px;
	height: 7.729px;
	left: 64.477px;
	top: 126.657px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1774 {
	fill: rgba(147,81,66,1);
}
.Path_1774 {
	overflow: visible;
	position: absolute;
	width: 6.471px;
	height: 7.729px;
	left: 300.915px;
	top: 122.792px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1775 {
	fill: rgba(135,54,58,1);
}
.Path_1775 {
	overflow: visible;
	position: absolute;
	width: 24.523px;
	height: 26.544px;
	left: 55.185px;
	top: 84.594px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1776 {
	fill: rgba(135,54,58,1);
}
.Path_1776 {
	overflow: visible;
	position: absolute;
	width: 22.577px;
	height: 28.519px;
	left: 58.36px;
	top: 146.573px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1777 {
	fill: rgba(135,54,58,1);
}
.Path_1777 {
	overflow: visible;
	position: absolute;
	width: 21.802px;
	height: 109.362px;
	left: 62.061px;
	top: 218.169px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1778 {
	fill: rgba(135,54,58,1);
}
.Path_1778 {
	overflow: visible;
	position: absolute;
	width: 23.985px;
	height: 26.784px;
	left: 291.271px;
	top: 79.293px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1779 {
	fill: rgba(135,54,58,1);
}
.Path_1779 {
	overflow: visible;
	position: absolute;
	width: 21.857px;
	height: 29.371px;
	left: 291.582px;
	top: 146.573px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1780 {
	fill: rgba(135,54,58,1);
}
.Path_1780 {
	overflow: visible;
	position: absolute;
	width: 19.902px;
	height: 108.132px;
	left: 291.582px;
	top: 218.964px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1781 {
	fill: rgba(153,65,65,1);
}
.Path_1781 {
	overflow: visible;
	position: absolute;
	width: 24.739px;
	height: 140.694px;
	left: 33.283px;
	top: 218.169px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1782 {
	fill: rgba(153,65,65,1);
}
.Path_1782 {
	overflow: visible;
	position: absolute;
	width: 22.81px;
	height: 140.808px;
	left: 321.041px;
	top: 218.85px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1673 {
	position: absolute;
	width: 440.772px;
	height: 543.533px;
	left: 0px;
	top: 651.102px;
	overflow: visible;
}
#Group_1665 {
	position: absolute;
	width: 127.437px;
	height: 263.52px;
	left: 148.478px;
	top: 0px;
	overflow: visible;
}
#Path_1783_el {
	fill: url(#Path_1783_el);
}
.Path_1783_el {
	overflow: visible;
	position: absolute;
	width: 30.457px;
	height: 170.2px;
	left: 11.006px;
	top: 86.238px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1784_en {
	fill: url(#Path_1784_en);
}
.Path_1784_en {
	overflow: visible;
	position: absolute;
	width: 21.442px;
	height: 239.634px;
	left: 30.003px;
	top: 23.886px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1785 {
	fill: rgba(255,235,138,1);
}
.Path_1785 {
	overflow: visible;
	position: absolute;
	width: 16.908px;
	height: 64.28px;
	left: 38.104px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1786 {
	fill: rgba(255,235,138,1);
}
.Path_1786 {
	overflow: visible;
	position: absolute;
	width: 32.264px;
	height: 57.692px;
	left: 0px;
	top: 72.124px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1787_er {
	fill: url(#Path_1787_er);
}
.Path_1787_er {
	overflow: visible;
	position: absolute;
	width: 69.576px;
	height: 161.794px;
	left: 32.444px;
	top: 97.488px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1788 {
	fill: rgba(255,235,138,1);
}
.Path_1788 {
	overflow: visible;
	position: absolute;
	width: 47.11px;
	height: 39.787px;
	left: 80.326px;
	top: 78.347px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1666 {
	position: absolute;
	width: 110.626px;
	height: 153.075px;
	left: 184.793px;
	top: 136.484px;
	overflow: visible;
}
#Path_1789_ev {
	fill: url(#Path_1789_ev);
}
.Path_1789_ev {
	overflow: visible;
	position: absolute;
	width: 110.626px;
	height: 153.075px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1790 {
	fill: rgba(17,163,138,1);
}
.Path_1790 {
	overflow: visible;
	position: absolute;
	width: 110.597px;
	height: 152.448px;
	left: 0.004px;
	top: 0.203px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1667 {
	position: absolute;
	width: 114.47px;
	height: 242.562px;
	left: 76.695px;
	top: 148.542px;
	overflow: visible;
}
#Path_1791_ez {
	fill: url(#Path_1791_ez);
}
.Path_1791_ez {
	overflow: visible;
	position: absolute;
	width: 114.47px;
	height: 242.562px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1792 {
	fill: rgba(115,224,159,1);
}
.Path_1792 {
	overflow: visible;
	position: absolute;
	width: 113.347px;
	height: 242.499px;
	left: 0.378px;
	top: 0.054px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1793_e {
	fill: url(#Path_1793_e);
}
.Path_1793_e {
	overflow: visible;
	position: absolute;
	width: 306.946px;
	height: 239.012px;
	left: 75.647px;
	top: 233.927px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1672 {
	position: absolute;
	width: 177.104px;
	height: 259.101px;
	left: 263.668px;
	top: 173.701px;
	overflow: visible;
}
#Group_1668 {
	position: absolute;
	width: 86.635px;
	height: 225.643px;
	left: 33.904px;
	top: 0px;
	overflow: visible;
}
#Path_1794_e {
	fill: url(#Path_1794_e);
}
.Path_1794_e {
	overflow: visible;
	position: absolute;
	width: 76.534px;
	height: 194.091px;
	left: 10.101px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1795 {
	fill: rgba(68,198,191,1);
}
.Path_1795 {
	overflow: visible;
	position: absolute;
	width: 73.716px;
	height: 193.351px;
	left: 0px;
	top: 32.293px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1669 {
	position: absolute;
	width: 37.946px;
	height: 208.897px;
	left: 27.851px;
	top: 25.396px;
	overflow: visible;
}
#Path_1796_fa {
	fill: url(#Path_1796_fa);
}
.Path_1796_fa {
	overflow: visible;
	position: absolute;
	width: 37.946px;
	height: 200.247px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1797 {
	fill: rgba(68,198,191,1);
}
.Path_1797 {
	overflow: visible;
	position: absolute;
	width: 25.687px;
	height: 186.392px;
	left: 4.648px;
	top: 22.505px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1670 {
	position: absolute;
	width: 167.362px;
	height: 199.09px;
	left: 0px;
	top: 60.011px;
	overflow: visible;
}
#Path_1798_fe {
	fill: url(#Path_1798_fe);
}
.Path_1798_fe {
	overflow: visible;
	position: absolute;
	width: 149.746px;
	height: 185.324px;
	left: 17.616px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1799 {
	fill: rgba(68,198,191,1);
}
.Path_1799 {
	overflow: visible;
	position: absolute;
	width: 149.132px;
	height: 172.922px;
	left: 0px;
	top: 26.168px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1671 {
	position: absolute;
	width: 159.488px;
	height: 91.629px;
	left: 17.617px;
	top: 141.097px;
	overflow: visible;
}
#Path_1800_fi {
	fill: url(#Path_1800_fi);
}
.Path_1800_fi {
	overflow: visible;
	position: absolute;
	width: 144.139px;
	height: 88.984px;
	left: 15.349px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1801 {
	fill: rgba(68,198,191,1);
}
.Path_1801 {
	overflow: visible;
	position: absolute;
	width: 135.58px;
	height: 74.11px;
	left: 0px;
	top: 17.519px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1802_fl {
	fill: url(#Path_1802_fl);
}
.Path_1802_fl {
	overflow: visible;
	position: absolute;
	width: 419.001px;
	height: 272.28px;
	left: 0px;
	top: 271.253px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1680 {
	position: absolute;
	width: 533.34px;
	height: 479.114px;
	left: 717.66px;
	top: 757.886px;
	overflow: visible;
}
#Group_1674 {
	position: absolute;
	width: 141.864px;
	height: 114.645px;
	left: 315.253px;
	top: 226.273px;
	overflow: visible;
}
#Path_1803_fp {
	fill: url(#Path_1803_fp);
}
.Path_1803_fp {
	overflow: visible;
	position: absolute;
	width: 141.864px;
	height: 114.645px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1804 {
	fill: rgba(255,240,179,1);
}
.Path_1804 {
	overflow: visible;
	position: absolute;
	width: 141.223px;
	height: 114.601px;
	left: 0.111px;
	top: 0.042px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1675 {
	position: absolute;
	width: 87.5px;
	height: 217.792px;
	left: 197.504px;
	top: 0px;
	overflow: visible;
}
#Path_1805_ft {
	fill: url(#Path_1805_ft);
}
.Path_1805_ft {
	overflow: visible;
	position: absolute;
	width: 33.852px;
	height: 142.697px;
	left: 15.857px;
	top: 75.095px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1806_fv {
	fill: url(#Path_1806_fv);
}
.Path_1806_fv {
	overflow: visible;
	position: absolute;
	width: 24.888px;
	height: 144.531px;
	left: 48.873px;
	top: 69.925px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1807_fx {
	fill: url(#Path_1807_fx);
}
.Path_1807_fx {
	overflow: visible;
	position: absolute;
	width: 26.382px;
	height: 190.292px;
	left: 26.267px;
	top: 23.016px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1808 {
	fill: rgba(72,204,198,1);
}
.Path_1808 {
	overflow: visible;
	position: absolute;
	width: 24.78px;
	height: 44.2px;
	left: 12.562px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1809 {
	fill: rgba(72,204,198,1);
}
.Path_1809 {
	overflow: visible;
	position: absolute;
	width: 24.115px;
	height: 35.445px;
	left: 63.385px;
	top: 49.931px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1810 {
	fill: rgba(72,204,198,1);
}
.Path_1810 {
	overflow: visible;
	position: absolute;
	width: 33.55px;
	height: 34.724px;
	left: 0px;
	top: 62.125px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1676 {
	position: absolute;
	width: 74.818px;
	height: 103.527px;
	left: 306.759px;
	top: 204.418px;
	overflow: visible;
}
#Path_1811_f {
	fill: url(#Path_1811_f);
}
.Path_1811_f {
	overflow: visible;
	position: absolute;
	width: 74.818px;
	height: 103.527px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1812 {
	fill: rgba(72,204,198,1);
}
.Path_1812 {
	overflow: visible;
	position: absolute;
	width: 74.798px;
	height: 103.103px;
	left: 0.003px;
	top: 0.137px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1677 {
	position: absolute;
	width: 67.716px;
	height: 125.721px;
	left: 185.609px;
	top: 108.798px;
	overflow: visible;
}
#Path_1813_f {
	fill: url(#Path_1813_f);
}
.Path_1813_f {
	overflow: visible;
	position: absolute;
	width: 67.716px;
	height: 125.721px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1814 {
	fill: rgba(125,239,171,1);
}
.Path_1814 {
	overflow: visible;
	position: absolute;
	width: 66.53px;
	height: 125.701px;
	left: 0px;
	top: 0.009px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1678 {
	position: absolute;
	width: 78.444px;
	height: 168.06px;
	left: 240.759px;
	top: 154.912px;
	overflow: visible;
}
#Path_1815_gb {
	fill: url(#Path_1815_gb);
}
.Path_1815_gb {
	overflow: visible;
	position: absolute;
	width: 78.444px;
	height: 168.06px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1816 {
	fill: rgba(146,255,239,1);
}
.Path_1816 {
	overflow: visible;
	position: absolute;
	width: 77.119px;
	height: 168.033px;
	left: 0.495px;
	top: 0.021px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1817_ge {
	fill: url(#Path_1817_ge);
}
.Path_1817_ge {
	overflow: visible;
	position: absolute;
	width: 287.242px;
	height: 270.641px;
	left: 33.273px;
	top: 208.474px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1818_gg {
	fill: url(#Path_1818_gg);
}
.Path_1818_gg {
	overflow: visible;
	position: absolute;
	width: 320.317px;
	height: 178.203px;
	left: 104.105px;
	top: 263.534px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1679 {
	position: absolute;
	width: 89.679px;
	height: 238.834px;
	left: 0px;
	top: 199.105px;
	overflow: visible;
}
#Path_1819_gj {
	fill: url(#Path_1819_gj);
}
.Path_1819_gj {
	overflow: visible;
	position: absolute;
	width: 50.982px;
	height: 155.841px;
	left: 11.502px;
	top: 78.56px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1820_gl {
	fill: url(#Path_1820_gl);
}
.Path_1820_gl {
	overflow: visible;
	position: absolute;
	width: 26.609px;
	height: 164.708px;
	left: 49.049px;
	top: 74.125px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1821_gn {
	fill: url(#Path_1821_gn);
}
.Path_1821_gn {
	overflow: visible;
	position: absolute;
	width: 44.959px;
	height: 211.641px;
	left: 21.773px;
	top: 16.3px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1822 {
	fill: rgba(255,235,138,1);
}
.Path_1822 {
	overflow: visible;
	position: absolute;
	width: 32.861px;
	height: 59.48px;
	left: 10.121px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1823 {
	fill: rgba(255,235,138,1);
}
.Path_1823 {
	overflow: visible;
	position: absolute;
	width: 27.224px;
	height: 42.911px;
	left: 62.455px;
	top: 53.255px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1824 {
	fill: rgba(255,235,138,1);
}
.Path_1824 {
	overflow: visible;
	position: absolute;
	width: 33.335px;
	height: 55.993px;
	left: 0px;
	top: 62.211px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1825_gs {
	fill: url(#Path_1825_gs);
}
.Path_1825_gs {
	overflow: visible;
	position: absolute;
	width: 281.597px;
	height: 135.835px;
	left: 251.743px;
	top: 297.67px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_93 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_93 {
	overflow: visible;
	position: absolute;
	width: 476px;
	height: 1px;
	left: 1325.5px;
	top: 394.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_94 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_94 {
	overflow: visible;
	position: absolute;
	width: 476px;
	height: 1px;
	left: 1313.5px;
	top: 540.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_95 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_95 {
	overflow: visible;
	position: absolute;
	width: 476px;
	height: 1px;
	left: 1313.5px;
	top: 686.5px;
	transform: matrix(1,0,0,1,0,0);
}